[submodule "server"]
	path = server
	url = git@github.com:/ayax79/server.git
[submodule "core"]
	path = core
	url = git@github.com:/ayax79/core.git
[submodule "service"]
	path = service
	url = git@github.com:/ayax79/service.git
[submodule "presentation"]
	path = presentation
	url = git@github.com:/ayax79/presentation.git
